/*Production summary  custom code*/

section.production-summary-section-data:nth-child(even) .panel-primary > .panel-heading {
    color: #fff;
    background-color: #418BCA;
    border-color: #418BCA;
}

section.production-summary-section-data:nth-child(odd) .panel-primary > .panel-heading {
    color: #fff;
    background-color: #0099ff;
    border-color: #0099ff;
}
