.currency, .numeric {
	text-align: right;
}

.negative {
	color: red;
}

.icon-spin {
	display: inline-block;
	-moz-animation: spin 2s infinite linear;
	-o-animation: spin 2s infinite linear;
	-webkit-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear
}

@-moz-keyframes spin{0%{-moz-transform:rotate(0deg)}100%{-moz-transform:rotate(359deg)}}
@-webkit-keyframes spin{0%{-webkit-transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg)}}
@-o-keyframes spin{0%{-o-transform:rotate(0deg)}100%{-o-transform:rotate(359deg)}}
@-ms-keyframes spin{0%{-ms-transform:rotate(0deg)}100%{-ms-transform:rotate(359deg)}}
@keyframes spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
@-moz-document url-prefix(){.icon-spin{height:.9em}.btn .icon-spin{height:auto}.icon-spin.icon-large{height:1.25em}.btn .icon-spin.icon-large{height:.75em}}

.spinner {
  display: inline-block;
  opacity: 0;
  width: 0;

  -webkit-transition: opacity 0.25s, width 0.25s;
  -moz-transition: opacity 0.25s, width 0.25s;
  -o-transition: opacity 0.25s, width 0.25s;
  transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active {
  cursor:progress;
}

.has-spinner.active .spinner {
  opacity: 1;
  width: auto; /* This doesn't work, just fix for unkown width elements */
}

.has-spinner.btn-mini.active .spinner {
    width: 10px;
}

.has-spinner.btn-small.active .spinner {
    width: 13px;
}

.has-spinner.btn.active .spinner {
    width: 16px;
}

.has-spinner.btn-large.active .spinner {
    width: 19px;
}

td, th {
	font-size: 12px;
}

.table-row-expand table tbody tr {
    height: 37px;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 8px 6px;
}

.table-row-expand.edit-mode table tbody td {
	padding: 5px 6px;
}

table.dataTable tfoot th, table.dataTable tfoot td {
    padding: 8px 6px;
    border-top: 1px solid #DDD; 
}

table.dataTable tbody th, table.dataTable tbody td {
	padding: 6px 4px;
}

table.dataTable tbody th.action-icon, table.dataTable tbody td.action-icon {
	padding: 6px 6px 1px;
	text-align: center;
}

table.dataTable tbody th.action-icon a, table.dataTable tbody td.action-icon a {
	padding-right: 6px;
}

table.dataTable tbody th.action-icon a:last-child, table.dataTable tbody td.action-icon a:last-child {
	padding-right: 0;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border: none;
    background: none;

}

.table-responsive .dataTables_wrapper .row {
    padding: 0 0;
    margin-right: 0;
    margin-left: 0;
}

table.dataTable.hover tbody tr.row-expand, table.dataTable.display tbody tr.row-expand {
    background-color: #428BCA;
}

table.dataTable.hover tbody tr.row-expand:hover, table.dataTable.display tbody tr.row-expand:hover {
    background-color: #428BCA;
}

table.dataTable.hover .table-row-expand tbody tr.row-expand, table.dataTable.display .table-row-expand tbody tr.row-expand {
    background-color: #fff;
}

table.dataTable.hover .table-row-expand tbody tr.row-expand:hover, table.dataTable.display .table-row-expand tbody tr.row-expand:hover {
    background-color: #fff;
}

.table-row-expand {
	background-color: #EEEEEE;
	padding-top: 8px;
    padding-bottom: 1px;
}

.table-row-expand table {
	margin-bottom: 16px;
}

.table-row-expand table {
	width: 100%;
}

.table-row-expand table td:first-child {
	width: 40%;
	font-weight: bold;
}

.table-row-expand table td:last-child {
	width: 60%;
}

.table-row-expand a .livicon {
	padding-right: 16px;
}

.table-row-expand a:last-child .livicon  {
	padding-right: 0;
}

.table-client-data {
    background-color: #f9f9f9;
}

.table-client-data .row {
    padding: 0;
}

.table-client-data a .livicon {
	padding-right: 16px;
}

.table-client-data table {
	width: 100%;
	margin-bottom: 16px;
}

.table-client-data table tr {
    background-color: #fff;
}

.table-client-data table td {
    padding: 6px 4px;
    border-top: 1px solid #ddd;
}

.table-client-data table tr:first-child td {
    border-top: none;
}

.table-client-data table td:first-child {
	width: 40%;
	font-weight: bold;
}

.table-client-data table td:last-child {
	width: 60%;
}

.row-button {
	margin-bottom: 16px;
}

.row-button .btn {
    margin-right: 5px;
}

input, select, textarea {
    border-width: 2px;
    border-color: rgb(238, 238, 238);
    background-color: #FFFFFF;
    padding: 1px;
    border-style: solid;
    /* height: 26px; */
}

textarea {
    height: auto;
}

.table-row-expand input, .table-row-expand select, .table-row-expand textarea  {
	width: 100%;
    /* background-color: rgba(248,154,20,0.05); */
    border: #F89A13 solid 1px;
}

.table-row-expand input .2column {
    width: 48%;
}

#new-client, #new-contact-moment {
	margin-top: 20px;
}

div.dt-buttons {
    float: none;
    text-align: right;
}

table.dataTable.hover tbody tr.hover,
table.dataTable.display tbody tr.hover {
    background-color: #f5f5f5;
}

table.dataTable.display tbody tr.hover>.sorting_1, 
table.dataTable.order-column.hover tbody tr.hover>.sorting_1 {
    background-color: #eaeaea;
}

.btn-group-xs>.btn, .btn-xs {
    padding: 1px 5px !important;
    font-size: 12px !important;
    line-height: 1.5 !important;
    border-radius: 3px;
}

@media screen and (max-width: 767px) {

	div.dataTables_wrapper > div.row > div, div.dataTables_length, div.dataTables_filter, div.dataTables_info, div.dataTables_paginate {
		text-align: left;
	}

}
